# learning python - pandas

Jonas Prado - GitHub: joonaspp

In [2]:
#Instalando a biblioteca
#!pip install pandas

In [4]:
#Importando biblioteca
import pandas as pd

In [6]:
#Criando um dataframe 
df = pd.DataFrame({'Date':['11/05/19', '12/05/19', '19/05/19', '25/05/19', '26/05/19', '1/06/19'],'Time Worked': [3, 3, 4, 3, 3, 4],'Money Earned': [33.94, 33.94, 46, 33.94, 33.94, 46]})

In [8]:
# Exibe apenas as 5 primeiras linhas do quadro de dados
df.head()

       Date  Time Worked  Money Earned
0  11/05/19            3         33.94
1  12/05/19            3         33.94
2  19/05/19            4         46.00
3  25/05/19            3         33.94
4  26/05/19            3         33.94

In [10]:
# Adicionando linhas no dataframe
df2 = pd.DataFrame({'Date': ['10/06/19', '12/06/19', '14/06/19'],
                    'Time Worked': [3, 4, 3],
                    'Money Earned': [33.94, 46, 33.94]})
df2

       Date  Time Worked  Money Earned
0  10/06/19            3         33.94
1  12/06/19            4         46.00
2  14/06/19            3         33.94

In [13]:
# Incluindo as informações das novas linhas no data frame antigo
df = df.append(df2, ignore_index=True, sort = False)
df

        Date  Time Worked  Money Earned
0   11/05/19            3         33.94
1   12/05/19            3         33.94
2   19/05/19            4         46.00
3   25/05/19            3         33.94
4   26/05/19            3         33.94
5    1/06/19            4         46.00
6   10/06/19            3         33.94
7   12/06/19            4         46.00
8   14/06/19            3         33.94
9   10/06/19            3         33.94
10  12/06/19            4         46.00
11  14/06/19            3         33.94
12  10/06/19            3         33.94
13  12/06/19            4         46.00
14  14/06/19            3         33.94